EditorWidget {
    width: 100%;
    height: 100%;
}

TextEditorWidget {
    position: relative;
}

Horizontal {
    width: 100%;
    height: 100%;
}

StatusBar {
    dock: bottom;
    width: 100%;
    height: 1;
    background: deepskyblue;
    color: white;
    text-style: bold;
    /* content-align: center middle; */
    padding-left: 2;
}

#lines {
    width: 10;
    height: 100%;
    border-right: rgba(255, 255, 255, 0.2)
}

#text {
    width: 1fr;
}

#cursor {
    position: absolute;
    width: 1;
    height: 1;
    background: white;
    opacity: 75%;
}